name: Run github action jobs
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run_flake8:
    # The type of runner that the job will run on
    runs-on: demo-hoc

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Run check flake 8
      id: flake8
      run: ./.github/actions/check_flake8/entrypoint.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}